.h-top {
    text-align: right;
    font-family: inherit;
    margin-right: 30px;
}
.LowerBox {
    width: 300px;
    height: 300px;
    background-color: red;
    margin-top: 10%;
    margin-bottom: 10%;
}
.middle {
    width: auto;
    height: 50px;
}
.pic {
    width: 800px;
}
.top-img {
    width: 200px;
    height: 100px;
}
.buttom-img {
    width: 250px;
    height: 200px;
}
.featuerd {
    color: darkgray;
}
.footer {
    padding-top: 30px;
    margin-bottom: 20px;
}